<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.singler.godson.crud.dao.CrudDao">

    <select id="count" resultType="int" >
        SELECT COUNT(1)
        FROM `${hibatisTableName }`
        WHERE `yn` = 1 AND `platform_id` = #{platformId }
        <bind name="hibatisWhereExcludes" value="{'yn', 'platformId'}"/>
        <include refid="com.singler.godson.hibatis.dao.HibatisDao.where"/>
    </select>

    <select id="exist" resultType="boolean" >
        SELECT IFNULL((
        SELECT 1 FROM
        `${hibatisTableName }`
        WHERE `yn` = 1 AND `platform_id` = #{platformId }
        <bind name="hibatisWhereExcludes" value="{'yn', 'platformId'}"/>
        <include refid="com.singler.godson.hibatis.dao.HibatisDao.where"/>
        LIMIT 1), 0)
    </select>

    <select id="select">
        SELECT
        <include refid="com.singler.godson.hibatis.dao.HibatisDao.selectColumns"/>
        FROM `${hibatisTableName }`
        WHERE `yn` = 1 AND `platform_id` = #{platformId }
        <include refid="com.singler.godson.crud.dao.CrudDao.commonWhere"/>
    </select>

    <select id="selectById">
        SELECT *
        FROM `${hibatisTableName }`
        WHERE `id` = #{id }
        AND `platform_id` = #{platformId }
    </select>

    <update id="update">
        UPDATE `${hibatisTableName }`
        SET `version` = `version` + 1,
        `modified` = NOW(),
        `modifier_id` = #{modifierId },
        <bind name="hibatisColumnsExcludes" value="{'id', 'yn', 'platformId', 'modifierId', 'modified', 'created', 'creatorId'}"/>
        <include refid="com.singler.godson.hibatis.dao.HibatisDao.updateColumns"/>
        WHERE `yn` = 1 AND `platform_id` = #{platformId }
        <bind name="hibatisWhereExcludes" value="{'yn', 'platformId'}"/>
        <include refid="com.singler.godson.hibatis.dao.HibatisDao.where"/>
    </update>

    <update id="updateById">
        UPDATE `${hibatisTableName }`
        SET `version` = `version` + 1,
        `modified` = NOW(),
        `modifier_id` = #{modifierId },
        <bind name="hibatisColumnsExcludes" value="{'id', 'yn', 'platformId', 'modifierId', 'modified', 'created', 'creatorId'}"/>
        <include refid="com.singler.godson.hibatis.dao.HibatisDao.updateColumns"/>
        WHERE `yn` = 1 AND `id` = #{id } AND `platform_id` = #{platformId }
    </update>

    <update id="delete">
        UPDATE `${hibatisTableName }`
        SET `yn` = 0,
        `version` = `version` + 1,
        `modified` = NOW(),
        `modifier_id` = #{modifierId }
        WHERE `yn` = 1 AND `platform_id` = #{platformId }
        <bind name="hibatisWhereExcludes" value="{'yn', 'platformId'}"/>
        <include refid="com.singler.godson.hibatis.dao.HibatisDao.where"/>
    </update>

    <update id="deleteById">
        UPDATE `${hibatisTableName }`
        SET `yn` = 0,
        `version` = `version` + 1,
        `modified` = NOW(),
        `modifier_id` = #{modifierId }
        WHERE `id` = #{id } AND `yn` = 1 AND `platform_id` = #{platformId }
    </update>

    <insert id="insert">
        INSERT INTO `${hibatisTableName }`
        <bind name="hibatisColumnsExcludes" value="{'id', 'yn', 'version', 'platformId', 'modified', 'created', 'creatorId', 'modifierId'}"/>
        (`yn`, `version`, `platform_id`, `created`, `modified`, `creator_id`, `modifier_id`, <include refid="com.singler.godson.hibatis.dao.HibatisDao.insertColumns"/>)
        VALUES
        <foreach collection="hibatisEntities" index="index" separator=",">
            (1, 1, #{platformId }, NOW(), NOW(), #{creatorId }, ${creatorId }, <include refid="com.singler.godson.hibatis.dao.HibatisDao.insertValues"/>)
        </foreach>
    </insert>

    <sql id="columnAlias">
        `id` AS "id",
        `yn` AS "yn",
        `created` AS "created",
        `modified` AS "modified",
        `creator_id` AS "creatorId",
        `modifier_id` AS "modifierId",
        `platform_id` AS "platformId"
    </sql>

    <sql id="commonWhere">
        <if test="hibatisWhereExcludes.size() == 0">
            <bind name="hibatisWhereExcludes" value="{'yn', 'platformId'}"/>
        </if>
        <include refid="com.singler.godson.hibatis.dao.HibatisDao.where"/>
        <if test="hibatisOrderBy != null and hibatisOrderBy.size() > 0">
            ORDER BY
            <include refid="com.singler.godson.hibatis.dao.HibatisDao.orderBy"/>
        </if>
    </sql>
</mapper>